Christopher J. Markiewicz <markiewicz@stanford.edu> Chris Markiewicz <effigies@gmail.com>
Christopher J. Markiewicz <markiewicz@stanford.edu> Chris Markiewicz <markiewicz@stanford.edu>
Alejandro de la Vega <aleph4@gmail.com> adelavega <delavega@utexas.edu>
Alejandro de la Vega <aleph4@gmail.com> delavega4 <aleph4@gmail.com>
