Alejandro de la Vega <aleph4@gmail.com>
Alejandro de la Vega <aleph4@gmail.com> <delavega@utexas.edu>
Christopher J. Markiewicz <markiewicz@stanford.edu>
Christopher J. Markiewicz <markiewicz@stanford.edu> <effigies@gmail.com>
Dylan Nielson <adenosine@gmail.com>
Karolina Finc <karolinafinc@gmail.com>
Mathias Goncalves <goncalves.mathias@gmail.com> <mathiasg@mit.edu>
Rastko Ciric <rc042010@mymail.pomona.edu>
