nibabel>=2.0
seaborn>=0.7.1
numpy>=1.11
nilearn>=0.4.0
pandas>=0.19
git+https://github.com/nistats/nistats.git@009ce3fddb3dd01e82bca3ad7d2cdbeece0138f2#egg=nistats
git+https://github.com/bids-standard/pybids.git@8fd04f3a0443da48cb07357bba0f618fb7f04838#egg=pybids
git+https://github.com/effigies/nipype.git@5c4e266323a158cf4233eb71f388a0d4b326e51c#egg=nipype
