version: 2
jobs:
  build:
    docker:
      - image: docker:18.01.0-ce-git
    working_directory: /tmp/src/fitlins
    steps:
      - run:
          name: Install parallel gzip and Python 3
          command: |
            apk add --no-cache pigz python3
      - checkout
      - setup_remote_docker
      - run:
          name: Fetch latest release image
          no_output_timeout: 10m
          command: |
            docker pull poldracklab/fitlins:latest
      - run:
          name: Build image
          no_output_timeout: 30m
          command: |
            THISVERSION=$( python3 -c 'import fitlins; print(fitlins.__version__)' )
            echo "Building version ${CIRCLE_TAG:-$THISVERSION}"
            docker build \
              --tag poldracklab/fitlins:latest \
              --build-arg BUILD_DATE="$(date -u +"%Y-%m-%dT%H:%M:%SZ")" \
              --build-arg VCS_REF="$(git rev-parse --short HEAD)" \
              --build-arg VERSION="${CIRCLE_TAG:-$THISVERSION}" .
      - run:
          name: Verify executable can be run
          command: docker run --rm -it poldracklab/fitlins:latest --help
      - run:
          name: Check version
          command: |
              docker run --rm -it poldracklab/fitlins:latest --version
      - run:
          name: Docker save
          no_output_timeout: 40m
          command: |
            mkdir -p /tmp/cache
            docker save poldracklab/fitlins:latest \
            | pigz -2 -p 3 > /tmp/cache/docker.tar.gz
      - persist_to_workspace:
          root: /tmp
          paths:
            - cache/docker.tar.gz
            - src/fitlins

  cache_test_data:
    docker:
      - image: continuumio/miniconda3:4.5.12
    working_directory: /tmp/data
    steps:
      - restore_cache:
          keys:
            - ds003-v0-{{ epoch }}
            - ds003-v0-
      - run:
          name: Install datalad and set git ID
          command: |
            conda install -c conda-forge datalad git-annex
            git config --global user.name 'FitLins CircleCI User'
            git config --global user.email 'crn.poldracklab@gmail.com'
      - run:
          name: Install test dataset
          command: |
            datalad install -r ///labs/poldrack/ds003_fmriprep
            datalad get ds003_fmriprep/sub-0{1,2,3}/func/*_space-MNI152NLin2009cAsym_desc-*.nii.gz
      - save_cache:
         key: ds003-v0-{{ epoch }}
         paths:
            - /tmp/data


  deploy_test:
    machine:
      image: circleci/classic:201711-01
    working_directory: /tmp/src/fitlins
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Load Docker image layer cache
          no_output_timeout: 30m
          command: |
            docker info
            set +o pipefail
            if [ -f /tmp/cache/docker.tar.gz ]; then
              zcat /tmp/cache/docker.tar.gz | docker load
              docker images
            fi
      - run:
          name: Deploy to Docker Hub
          no_output_timeout: 40m
          command: |
            if [[ -n "$DOCKER_PASS" ]]; then
              docker login -u $DOCKER_USER -p $DOCKER_PASS
            fi
      - run:
          name: Deploy to PyPi
          command: |
            pip install "setuptools>=27.0" twine
            echo "${CIRCLE_TAG}" > fitlins/VERSION
            python setup.py sdist

  deploy_master:
    machine:
      image: circleci/classic:201711-01
    working_directory: /tmp/src/fitlins
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Load Docker image layer cache
          no_output_timeout: 30m
          command: |
            docker info
            set +o pipefail
            if [ -f /tmp/cache/docker.tar.gz ]; then
              zcat /tmp/cache/docker.tar.gz | docker load
              docker images
            fi
      - run:
          name: Deploy to Docker Hub
          no_output_timeout: 40m
          command: |
            if [[ -n "$DOCKER_PASS" ]]; then
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              docker tag poldracklab/fitlins poldracklab/fitlins:master
              docker push poldracklab/fitlins:master
            fi

  deploy:
    machine:
      image: circleci/classic:201711-01
    working_directory: /tmp/src/fitlins
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Load Docker image layer cache
          no_output_timeout: 30m
          command: |
            docker info
            set +o pipefail
            if [ -f /tmp/cache/docker.tar.gz ]; then
              zcat /tmp/cache/docker.tar.gz | docker load
              docker images
            fi
      - run:
          name: Deploy to Docker Hub
          no_output_timeout: 40m
          command: |
            if [[ -n "$DOCKER_PASS" ]]; then
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              docker push poldracklab/fitlins:latest
              docker tag poldracklab/fitlins poldracklab/fitlins:$CIRCLE_TAG
              docker push poldracklab/fitlins:$CIRCLE_TAG
            fi
      - run:
          name: Deploy to PyPi
          command: |
            pip install "setuptools>=27.0" twine
            echo "${CIRCLE_TAG}" > fitlins/VERSION
            python setup.py sdist
            twine upload dist/*

workflows:
  version: 2
  fitlins_tests:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - cache_test_data:
          filters:
            tags:
              only: /.*/
      - deploy_master:
          requires:
            - build
          filters:
            branches:
              only: master
      - deploy_test:
          requires:
            - build
          filters:
            branches:
              only: /rel\/[\d\.]+/
            tags:
              ignore: /.*/
      - deploy:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
